*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.logo{
    width: 6%;;
    height: 6%;
}
#adminlogo{
    width: 8%;
    height: 7%;
}
#foot{
    bottom: 0px;
}
